@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins";
}

body {
  background: #f0efef;
}

.container {
  margin-top: 50px;
}

 img{
   border-radius: 8px;
 }
.container .team {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.container .team .member {
  width: 325px;
  margin: 10px;
  background: #31b0d5;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(124, 123, 123, 0.07);
  padding: 25px;
}

.container .team .member img {
  width: 120px;
}

.container .team .member h3 {
  color: rgb(238, 227, 227);
}

.container .team .member span {
  font-size: 12px;
  color: #999;
}

.container .team .member p {
  margin: 15px 0;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: justify;
}
 
.container .team .member .btn a {
  background: #ddd;
  display: block;
  float: right;
  width: 125px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.container .team .member .btn a:hover {
  background: #31b0d5;
  color: #fff;
}

 /*Typography*/
html {
  font: 16px "Lobster", serif;
}

h1 {
  font-size: 2em;
  color: #31b0d5;
}

h2 {
  font-size: 1.75em;
  color: #31b0d5;
}

h3 {
  font-size: 1.5em;
  color: white;
}

p {
  font-size: 1.25em;
  color: white;
}

/*BASE*/
html,
body {
  width: 100%;
  height: 100%;
}

/*Layout*/
* {
  box-sizing: border-box;
}

/*Navigation*/
/* The navigation menu sidepanel */
.navbar {
  height: 450px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
 
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The navbar links */
.navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #31b0d5;
  display: block;
  transition: 0.3s;
}

/*Social media*/
.soc-media {
  position: absolute;
  bottom: 5px;
}

.soc-media li {float: left;}
.soc-media a {
  padding: .5em 0;
  width: 3em;
  font-weight: normal;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.navbar a:hover {
  color: #818181;
}

/* Position and style the close button (top right corner) */
.navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 40px;
  cursor: pointer;
  background-color: #111;
  color: #31b0d5;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/*Page Wrapper*/
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(http://www.gratisography.com/pictures/119.jpg) no-repeat;
  background-size: cover;
}


.wrapper > center {
  position:absolute;
  top: 20%;
  width: 100%;
  color: #e8f1f3;
  font-size: 2em;
  text-align: center;
}

  
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(42, 35, 146, 0.2);
}


/*Pages*/
section {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /*hide all on 0% width*/
  transition: all 0.75s;
}

:target {
  width: 100%;
}

section .content {
  margin: 1em auto;
  max-width: 900px;
  width: 60%;
  color: rgb(80, 43, 139);
}

section h1,
section h2,
section h3 {
  margin-bottom: 0.5em;
  text-align: center;
}

section p {
  margin: 0.5em 0;
  font-family: "lobster";
}

/*Home page*/


/*Project page*/
.about {
  background: rgba(8, 8, 8, 0.75);
}

/*Experience & Involvement page*/
.clients {
  background: rgba(8, 8, 8, 0.75);
}

.clients .row {
  float: left;
  margin-bottom: 1em;
  width: 100%;
}

.client-box {
  float: left;
  margin: 0 3em;
  width: 100px;
  height: 100px;
}

.client .eilogo {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* .map-container,
.map-container iframe {
  margin: 5em auto;
  width: 300px;
  height: 300px;
  background: src= "C:\Users\rache\Documents\GitHub\RachelAiko.github.io\images\SECLogo.png" no-repeat center center;
  border: 0.25em solid #962db1;
  border-radius: 50%;
  overflow: hidden;
}  */


/*Education page*/
.education {
  background: rgba(8, 8, 8, 0.75);
}

/*About*/
.contact {
  background: rgba(8, 8, 8, 0.75);
}



.up {
  position: relative;
  top: -4px;
}
.pressed {
  border-bottom: 8px solid #4d4d4d;
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.names {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}

.b {
  color: rgba(253, 255, 255, 0.925);
  text-shadow: 0 0 10px rgb(245, 250, 249), 0 0 10px rgb(241, 241, 245), 0 0 10px rgb(247, 247, 248), 0 0 10px rgb(248, 248, 250);
  font-size: 100px;
  font-family: serif;
}

.a {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow;
  font-size: 100px;
  font-family: serif;
}



/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.fa-linkedin {
  position: relative;
  z-index: 1; /* Stay on top */
}
.fa-github {
  position: relative;
  z-index: 1; /* Stay on top */
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(255, 252, 252, 0.2);
  transition: 0.3s;

  width: 375px;
  height: 500px;
  margin: 15px;
  background: #31b0d5;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(124, 123, 123, 0.07);
  padding: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

